<h1><%= @pet.name %></h1>
<%= image_tag("#{@pet.image}", :size => "260x180") %>
<p><%= @pet.name %></p>
<p><%= @pet.age %></p>
<p><%= @pet.sex %></p>
<p><%= link_to "#{@pet.shelter.name}", "/shelters/#{@pet.shelter.id}" %></p>
<p><%= @pet.adoption_status %></p>

<%= link_to 'Update Pet', "/pets/#{params[:id]}/edit" %>
<%= link_to 'Delete Pet', "/pets/#{params[:id]}", method: :delete %>
